In [3]:
person ={
    "first":"Agniswar",
    "last": "chakraborty",
    "email":"agniwebdesign@gmail.com"
    
}

people = {
    "first":["Agniswar", "Sitendu", "Yugant"],
    "last": ["Chakraborty", "Das", "Nayek"],
    "email":["agniwebdesign@gmail.com", "sitendu@gmail.com","yagant@gmail.com"]
}

In [4]:
people["email"]

['agniwebdesign@gmail.com', 'sitendu@gmail.com', 'yagant@gmail.com']

In [5]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

      first         last                    email
0  Agniswar  Chakraborty  agniwebdesign@gmail.com
1   Sitendu          Das        sitendu@gmail.com
2    Yugant        Nayek         yagant@gmail.com

In [9]:
df['email']

0    agniwebdesign@gmail.com
1          sitendu@gmail.com
2           yagant@gmail.com
Name: email, dtype: object

In [10]:
df.email #not recomended

0    agniwebdesign@gmail.com
1          sitendu@gmail.com
2           yagant@gmail.com
Name: email, dtype: object

In [11]:
df.shape

(3, 3)

In [12]:
df[['last','email']]

          last                    email
0  Chakraborty  agniwebdesign@gmail.com
1          Das        sitendu@gmail.com
2        Nayek         yagant@gmail.com

In [13]:
type(df['email'])

pandas.core.series.Series

In [14]:
type(df[['last','email']])

pandas.core.frame.DataFrame

In [15]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [30]:
df.loc[[0,1]]

                            first         last
email
agniwebdesign@gmail.com  Agniswar  Chakraborty
sitendu@gmail.com         Sitendu          Das

In [21]:
df.loc[[0,1], ['email', 'last']]

                     email         last
0  agniwebdesign@gmail.com  Chakraborty
1        sitendu@gmail.com          Das

In [23]:
df.set_index('email', inplace=True)

In [29]:
df.iloc[0]

first       Agniswar
last     Chakraborty
Name: agniwebdesign@gmail.com, dtype: object

In [25]:
df.index

Index(['agniwebdesign@gmail.com', 'sitendu@gmail.com', 'yagant@gmail.com'], dtype='object', name='email')

In [33]:
df.reset_index(inplace=True)

In [34]:
df.loc[[0,1]]

                     email     first         last
0  agniwebdesign@gmail.com  Agniswar  Chakraborty
1        sitendu@gmail.com   Sitendu          Das