In [1]:
person ={
    "first":"Agniswar",
    "last": "chakraborty",
    "email":"agniwebdesign@gmail.com"
    
}

people = {
    "first":["Agniswar", "Sitendu", "Yugant"],
    "last": ["Chakraborty", "Das", "Nayek"],
    "email":["agniwebdesign@gmail.com", "sitendu@gmail.com","yagant@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

      first         last                    email
0  Agniswar  Chakraborty  agniwebdesign@gmail.com
1   Sitendu          Das        sitendu@gmail.com
2    Yugant        Nayek         yagant@gmail.com

In [6]:
df['last'] == 'Chakraborty'

0     True
1    False
2    False
Name: last, dtype: bool

In [25]:
filt = (df['last']== 'Chakraborty')
filt1 = (df['last']== 'Chakraborty') | (df['first']== 'Sitendu')
filt2 = (df['last']== 'Nayek') & (df['first']== 'Sitendu')

In [13]:
df[filt]

      first         last                    email
0  Agniswar  Chakraborty  agniwebdesign@gmail.com

In [16]:
df[~filt] # all the data other than filtering

     first   last              email
1  Sitendu    Das  sitendu@gmail.com
2   Yugant  Nayek   yagant@gmail.com

In [18]:
df.loc[filt, 'email']

0    agniwebdesign@gmail.com
Name: email, dtype: object

In [22]:
df[filt1]

      first         last                    email
0  Agniswar  Chakraborty  agniwebdesign@gmail.com
1   Sitendu          Das        sitendu@gmail.com

In [26]:
df[filt2]

Empty DataFrame
Columns: [first, last, email]
Index: []